<h1>Modifier le commentaire </h1>

<%= form_tag gossip_comment_path, method: "put" do %>
  <%= label_tag 'Commentaire' %>
  <%= text_field_tag 'content', @comment.content %>
  <br> <br>
  <%= submit_tag "Modifier", class: "btn btn-secondary " %>
<% end %>